<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="/source/js/jquery-3.3.1.min.js"></script>
</head>
<body>
	<h1 align="center">武将成就表</h1>
	<div align="center">
		<form action="/achievement/findByWjnameLike" autocomplete="on">
			<label>武将名</label><input type="text" name="wjname"
				th:attr="value=${wjname}" />
			<button type="submit">查找</button>
		</form>
	</div>
	<div align="center">
		<table border="1px">
			<tbody>
				<tr th:each="collect : ${wj}">
					<td th:text="${collect._package}">@mdo</td>
					<td th:text="${collect.nation}">@mdo</td>
					<td th:text="${collect.wjname}">Mark</td>
					<td th:text="${collect.achievename}">Mark</td>
					<td th:text="${collect.achievement}">Mark</td>
					<td th:text="${collect.level}">Otto</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div align="center">
		<form action="/achievement/findByWjnameLike">
			<input type="hidden" name="wjname" th:attr="value=${wjname}" /> <input
				type="hidden" name="pageNum" th:attr="value=${pageNum}+1" />
			<button name='lastPage' type="submit">上一页</button>
			<button name='nextPage' type="submit" th:if="${hasNext}==true">下一页</button>
		</form>
		<script type="text/javascript">
		</script>
	</div>
</body>
</html>