<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="/source/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/source/js/jquery.form.js"></script>
</head>
<body>
	<h1 align="center">武将成就表</h1>
	<div id='nerong' align="center">
	</div>
	<script>
	$(document).ready(function(){
		var data1=($.ajax({url:'/achievement/findByWjnameLikeAj',async:false}));
		console.log(data1);
		$('#nerong').html(data1.responseText);
			});
	</script>
</body>
</html>